.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.button {
  color: white;
  background-color: green;
  border: none;
  padding: 10px;
  margin-top: 10% ;
  font-size: 1rem;
}
.tooltip{
  background-color: lightgray;
  width: fit-content;
  padding: 5px;
}